<template>
  <div class="rounded shadow p-4">
    <h3 class="text-lg">Проёмы (для дверей или других целей)</h3>
    <hr class="my-2" />
    <template v-if="holeList.length">
      <template v-for="hole in holeList" :key="hole">
        <div class="mb-4">
          <form>
            <div class="flex gap-4 items-end">
              <div class="flex-1 grid md:grid-cols-2 gap-4">
                <ExInput
                  label="Ширина (см)"
                  type="number"
                  v-model="hole.width"
                />
                <ExInput
                  label="Высота (см)"
                  type="number"
                  v-model="hole.height"
                />
              </div>
              <div class="flex-grow-0">
                <button
                  class="text-red-500 rounded border shadow w-8 h-8 my-1.5 font-bold hover:bg-red-100 transition"
                  @click.prevent="removeHole(hole)"
                >
                  x
                </button>
              </div>
            </div>
          </form>
        </div>
      </template>
    </template>
    <template v-else>
      <div class="text-center my-2">
        В списке нет проемов. Пожалуйста, добавьте.
      </div>
    </template>
    <hr class="my-2" />
    <div class="flex justify-center">
      <ExBtn @click="addHole">Добавить проем</ExBtn>
    </div>
  </div>
</template>

<script setup lang="ts">
import { reactive, ref, watch } from "vue";
import { IHole } from "../model";
import { ExBtn, ExInput } from "../../../shared/ui";
import { IWhole } from "../../whole";

interface IHoleListProps {
  modelValue?: IHole[];
}

const props = withDefaults(defineProps<IHoleListProps>(), {
  modelValue: () => [],
});

const holeList = ref<IHole[]>(props.modelValue);

function addHole() {
  holeList.value.push({
    width: 90,
    height: 205,
  });
}

function removeHole(item: IHole) {
  holeList.value.splice(holeList.value.indexOf(item), 1);
  // holeList.value = holeList.value.filter((h) => h !== item);
}

const emit = defineEmits(["update:model-value"]);

watch(
  () => holeList,
  (newVal) => {
    emit("update:model-value", newVal);
  },
  {
    immediate: true,
    deep: true,
  }
);
</script>
