<template>
  <label class="ex-input">
    <span v-if="label" class="ex-input__label">
      {{ label }}
    </span>
    <input
      :type="type"
      :placeholder="placeholder"
      v-model="innerValue"
      class="ex-input__input"
      @input="(e) => handleInput(e.target.value)"
    />
  </label>
</template>

<script setup lang="ts">
import { ref } from "vue";

interface IExInputProps {
  modelValue?: string | number;
  type?: "text" | "password" | "number";
  label?: string;
  placeholder?: string;
}

const props = withDefaults(defineProps<IExInputProps>(), {
  type: "text",
});

const emit = defineEmits(["update:model-value"]);

const innerValue = ref(props.modelValue);

const handleInput = (v: string | number) => {
  const res =
    props.type === "number" && typeof v === "string" ? parseFloat(v) : v;
  emit("update:model-value", res);
};
</script>

<style scoped lang="scss">
.ex-input {
  @apply block;
  &__label {
    @apply text-gray-700;
  }

  &__input {
    @apply mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0;
  }
}
</style>
