<template>
  <PlateCalculator />
</template>

<script setup lang="ts">
import { PlateCalculator } from "../features/plateCalculator";
</script>

<style lang="scss">
@import "./styles/index.scss";
</style>
