<template>
  <PlateCalculatorHeader />
  <main>
    <div class="flex flex-col gap-4">
      <WholeSizeForm
        v-model="formWhole"
        @update:model-value="result.calculated = false"
      />
      <HoleList
        v-model="listHole"
        @update:model-value="result.calculated = false"
      />
      <div>
        <ExBtn class="w-full" :disabled="errorData" @click="calculate">
          Рассчитать
        </ExBtn>
      </div>
      <div v-if="result.calculated" class="rounded shadow p-4">
        <h3 class="text-lg">На данную стену потребуется:</h3>
        <div>
          <span class="mr-2">
            Количество требуемых ПГП для выкладки стены с учётом проёмов:
          </span>
          <b>{{ useFormatterDecimal(result.count) }} шт.</b>
        </div>
        <div>
          <span class="mr-2">Общий вес стены:</span>
          <b>{{ useFormatterDecimal(result.weight) }} кг.</b>
        </div>
      </div>
    </div>
  </main>
</template>

<script setup lang="ts">
import { PlateCalculatorHeader } from "../../../features/plateCalculator";
import { ExBtn } from "../../../shared/ui";
import { computed, reactive, ref } from "vue";
import { useFormatterDecimal } from "../../formatter";
import { IWhole, WholeSizeForm } from "../../../entities/whole";
import { IHole, HoleList } from "../../../entities/hole";
import { BasePlateSize } from "../../../entities/plate";

const formWhole = reactive<IWhole>({
  width: 5,
  height: 2.7,
});

const listHole = ref<IHole[]>([]);

const result = reactive({
  count: 0,
  weight: 0,
  calculated: false,
});

function calculate() {
  const sizeWhole = formWhole.width * 100 * (formWhole.height * 100);
  const sumSizesHoles = listHole.value.reduce(
    (prev, cur) => prev + cur.width * cur.height,
    0
  );
  const sizePlate = (BasePlateSize.width / 10) * (BasePlateSize.height / 10);
  const resultCount = Math.ceil((sizeWhole - sumSizesHoles) / sizePlate);

  result.count = Math.ceil(resultCount);
  result.weight = resultCount * BasePlateSize.weight;
  result.calculated = true;
}

const errorData = computed(() => {
  return (
    formWhole.height <= 0 ||
    formWhole.width <= 0 ||
    !listHole.value.length ||
    listHole.value.find((h) => h.height <= 0 || h.width <= 0)
  );
});
</script>
