<template>
  <header class="header">
    <img alt="ПГП" class="logo" src="/pgp.jpeg" width="125" height="125" />

    <div class="wrapper">
      <div class="greetings">
        <h1>Калькулятор ПГП</h1>
        <h3>
          С помощью данного калькулятора Вы можете рассчитать:
          <ul>
            <li>
              Количество требуемых ПГП для выкладки стены с учётом проёмов;
            </li>
            <li>Общий вес стены.</li>
          </ul>
        </h3>
      </div>
    </div>
  </header>
</template>

<script setup></script>

<style scoped lang="scss">
.header {
  @apply flex md:flex md:place-items-center;

  .logo {
    @apply block mx-auto md:mr-4;
  }
  .wrapper {
    @apply flex flex-wrap justify-start;
  }
}

.greetings h1 {
  @apply text-center md:text-left text-green-500 text-2xl md:text-4xl font-semibold;
}
.greetings h3 {
  @apply text-center md:text-left text-lg;
  ul {
    @apply list-disc list-inside text-sm;
  }
}
</style>
