<template>
  <div class="rounded shadow p-4">
    <h3 class="text-lg">Параметры стены</h3>
    <form>
      <hr class="my-2" />
      <div class="grid md:grid-cols-2 gap-4">
        <ExInput label="Ширина (м)" type="number" v-model="formWhole.width" />
        <ExInput label="Высота (м)" type="number" v-model="formWhole.height" />
      </div>
    </form>
  </div>
</template>

<script setup lang="ts">
import { reactive, watch } from "vue";
import { ExInput } from "../../../shared/ui";
import { IWhole } from "../model";

interface IWholeSizeFormProps {
  modelValue?: IWhole;
}

const props = withDefaults(defineProps<IWholeSizeFormProps>(), {
  modelValue: () => ({
    width: 0,
    height: 0,
  }),
});

const formWhole = reactive<IWhole>(props.modelValue);

const emit = defineEmits(["update:model-value"]);

watch(
  () => formWhole,
  (newVal) => {
    emit("update:model-value", newVal);
  },
  {
    immediate: true,
    deep: true,
  }
);
</script>
