<template>
  <button class="ex-btn" v-bind="$attrs">
    <slot />
  </button>
</template>

<script>
export default {
  name: "ExBtn",
};
</script>

<style scoped lang="scss">
.ex-btn {
  @apply bg-green-400 py-2 px-4 rounded text-black transition-all
  hover:bg-green-500 text-white hover:shadow
  disabled:bg-gray-300 disabled:cursor-not-allowed disabled:shadow-none;
}
</style>
